{% extends "layouts/form.html" %}
{% block form %}
<form id="form-productos" class="row" method="POST">{% csrf_token %}

	<div class="{% if form.cliente.errors %}text-danger{% endif %} form-group col-8">
		<label for="cliente">Cliente</label>
		{{ form.cliente }}
	</div>

	<div class="{% if form.monto_cacelado.errors %}text-danger{% endif %} form-group col-4">
		<label for="monto_cacelado">Monto Cacelado</label>
		{{ form.monto_cacelado }}
	</div>

	<!----Inicio Formset----------------------------------------------------------------------------->
	<div class="d-flex flex-wrap justify-content-beetween">
		<h5 class="ml-3 mb-1">Productos</h5>
		<div>
			<a class="text-c-green" id="add_more"><i class="feather icon-plus-square"></i></a>
			<a class="text-c-red" id="remove"><i class="feather icon-minus-square"></i></a>
		</div>
	</div>
	{{ formset.management_form }}
	<div class="d-flex flex-wrap" id="formset">
	{% for form in formset %}
		<div class="col-12 p-0 d-flex flex-row" id="row-{{ forloop.counter0 }}">

			<div class="{% if form.producto.errors %}text-danger{% endif %} form-group mb-1 col-8">
				<label class="f-12 mt-0 mb-1" for="id_orden_item-{{ forloop.counter0 }}-producto">Producto</label>
				{{ form.producto }}
			</div>

			<div class="{% if form.cantidad.errors %}text-danger{% endif %} form-group mb-1 col">
				<label class="f-12 mt-0 mb-1" for="id_orden_item-{{ forloop.counter0 }}-cantidad">Cantidad</label>
				{{ form.cantidad }}
			</div>
			
			{% if form.instance.pk %}
			<div class="col-1  pt-4 d-flex justify-contet-center align-contet-center">
			<label for="id_orden_item-{{ forloop.counter0 }}-DELETE">
			<i class="feather icon-trash"></i>
		</label>
			<div class="form-check">
					
					{{ form.DELETE }}
				</div>
			</div>
			{% endif %}

		</div>
	{% endfor %}
	</div>
	<div class="d-none" id="empty_formset">
		<div class="col-12 p-0 d-flex flex-row" id="row-__prefix__">
		
			<div class="{% if form.producto.errors %}text-danger{% endif %} form-group mb-1 col-8">
				<label class="f-12 mt-0 mb-1" for="id_orden_item-__prefix__-producto">Producto</label>
				{{ formset.empty_form.producto }}
			</div>
		
			<div class="{% if form.cantidad.errors %}text-danger{% endif %} form-group mb-1 col">
				<label class="f-12 mt-0 mb-1" for="id_orden_item-__prefix__-cantidad">Cantidad</label>
				{{ formset.empty_form.cantidad }}
			</div>
		
		</div>
	</div>
	<!----Final Formset------------------------------------------------------------------------------->
	
	{{ form.monto_pagar }}
	{{ form.completada }}
	
	<button type="submit" class="btn btn-primary mx-3 mt-3">Confirmar</button>


</form>
{% endblock form %}

{% block form_scripts %}

<script>
	//actualiza los datos del monto a pagar
	$(document).ready(function(){
		
		var totalsObj = {};
		var lastRow;
		var DivId;
		var price = false;
		var quantity;
		var grandTotal;
		
		$('#add_more').click(function () {
			form_idx = $('#id_orden_item-TOTAL_FORMS').val();
			$('#formset').append($('#empty_formset').html().replace(/__prefix__/g, form_idx));
			$('#id_orden_item-TOTAL_FORMS').val(parseInt(form_idx) + 1);
		
		});

		$('#remove').click(function () {
			var form_idz = $('#id_orden_item-TOTAL_FORMS').val();
			if(form_idz > form_minlimit){
				form_idz = form_idz - 1
				$('#row-' + form_idz).remove();
				$('#id_orden_item-TOTAL_FORMS').val(parseInt(form_idz));
				removeFromObj('row-' + form_idz);
			}
		});

			// Evento para manejar cuando se selecciona un producto
			$(document).on('change','select[name$="-producto"]', function(){
				var $row = $(this).closest('.col-12');
				DivId = $row.attr('id');
				price = $(this).find('option:selected').data('price');
				var descuento = $(this).find('option:selected').data('descuento');
 				quantity = $row.find('input[name$="-cantidad"]').val();
				if (descuento != 0) {
					price = price - descuento
				}
				var total = price * quantity;
				checkAndUpdateTotal(DivId, total);
			});

			// Evento para manejar cuando se cambia la cantidad
			$(document).on('change','input[name$="-cantidad"]', function(){
				if (price) {
					var $row = $(this).closest('.col-12');
					var stock = $row.find('option:selected').data('stock');
					var descuento = $row.find('option:selected').data('descuento');
					quantity = $(this).val();
					if (quantity <= stock) {
						if ($(this).hasClass("invalid")) {
							
							$(this).removeClass("invalid");
						}
						DivId = $row.attr('id');
						price = $row.find('option:selected').data('price');
						if (descuento != 0) {
							price = price - descuento
						}
						var total = price * quantity;
						checkAndUpdateTotal(DivId, total);
					}else{
						
						$(this).addClass('invalid');
						alert('No hay suficiente disponibilidad para esta compra');
						
					}
					
				}
				
			});

			function checkAndUpdateTotal(DivId, total) {
				totalsObj[DivId] = total
				grandTotal = Object.values(totalsObj).reduce((a, b) => a + b, 0);
				$('#monto_pagar').val(grandTotal);
			}
			function removeFromObj(id) {
				delete totalsObj[id];
				grandTotal = Object.values(totalsObj).reduce((a, b) => a + b, 0);
				$('#monto_pagar').val(grandTotal);
			}

				
	});
	//Valida que los datos sean correctos al enviar
	$('#form-productos').on('submit', function(event) {
		// Verifica si algún elemento del formulario tiene la clase 'invalid'
		var invalidElements = this.querySelectorAll('.invalid');
		var cantidad = $('input[name$="-cantidad"]').val()
		var deuda = $('input[name$="monto_pagar"]').val()
		var pago = $('input[name$="monto_cacelado"]').val()
		
		var credito = deuda - pago
		//Evita que se envie un formulario con cantidad de productos igual a 0
		//o mayor al stock
		if (invalidElements.length > 0 || cantidad == 0) {
			event.preventDefault(); // Evita que el formulario se envíe
			alert('Hay elementos inválidos en el formulario');
		}else{
			//cambia el estado de la compra cuando el monto a pagar es cancelado
			if (credito == 0){
				event.preventDefault();
				console.log($('input[name$="completada"]').val())
				$('input[name$="completada"]').val('Completada')
				console.log($('input[name$="completada"]').val())
				
			}else if ( credito < 0) {
				event.preventDefault(); // Evita que el formulario se envíe
				alert('no puede cancelar mas que la deuda asignada');
			}
		}
		//seccion que Valida que no hayan productos repetidos
		var valores = [];
		//funcion que verifica que no hayan elementos repetidos en los productos
		function tieneRepetidos(array) {
			return array.length !== new Set(array).size;
		}
		//llena el arreglo con los valores
		$('select[name$="-producto"]').each(function(){
			valores.push($(this).val());
			
		});
		//condicion que previene el evento
		if (tieneRepetidos(valores)){
			event.preventDefault(); // Evita que el formulario se envíe
			alert('No puede haber productos repetidos en la orden de compra');
		}
	});

	//Inhabilita los campos que no sean el monto cancelado
	$(document).ready(function(){
		var currentUrl = window.location.href;
		if (currentUrl.includes('editar')) {
			$('#cliente').each(function() {
				$(this).parent().append('<h3>' + $(this).find('option:selected').text() + '</h3>');
				$(this).addClass('d-none');
       		});
			$('select[name$="-producto"]').each(function() {
				$(this).parent().append('<h4>' + $(this).find('option:selected').text() + '</h4>');
				$(this).addClass('d-none');
			});
			$('input[name$="-cantidad"]').each(function() {
				$(this).parent().append('<h4>' + $(this).val() + '</h4>');
				$(this).addClass('d-none');
			});
			$('input[name$="-DELETE"]').parent().parent().empty();
			$('#add_more').addClass('d-none')
			$('#remove').addClass('d-none')

		}
		

	});

	let form_minlimit = $('#id_orden_item-TOTAL_FORMS').val();
</script>

{% endblock form_scripts %}
