{% extends "layouts/base.html" %}

{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header">

											<h5>{{ titulo }}</h5>

									</div>
									<div class="card-body">
										
										{% block form %}

										{% endblock form %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{% block form_scripts %}
{% endblock form_scripts %}
{% endblock javascripts %}

