{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ rating list ] starts-->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card user-list">
                                        <div class="card-header">
                                            <h3>Productos más Vendidos</h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center m-b-20">
                                                <div class="col-6">
                                                    <h6 class="d-flex  align-items-center float-left m-0">Productos <i
                                                            class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h6>
                                                </div>
                                                <div class="col-6">
                                                    <h6 class="d-flex  align-items-center float-right m-0">Ventas <i
                                                            class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
                                                </div>
                                            </div>

                                            <div class="row">
                                                {% for producto in productos %}
                                                    <div class="col-xl-12">
                                                        <h6 class="align-items-center float-left">
                                                            <i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>{{ producto.nombre }}
                                                        </h6>
                                                        <h6 class="align-items-center float-right" id="producto-{{producto.id}}">{{ producto.ventas }}</h6>
                                                        <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                            <div class="progress-bar progress-b-theme" role="progressbar"
                                                                 aria-valuenow="{{ producto.porcentaje_ventas }}" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                            
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ rating list ] end-->
                                <div class="col-xl-8 col-md-12 m-b-30">                                    
                                    <div class="tab-content" id="myTabContent">
                                        <h3>Ordenes Recientes</h3>
                                        <div id="home" >                                        
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Fecha</th>
                                                    <th>Status</th>
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for orden in ordenes %}
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0"><img class="rounded-circle m-r-10"
                                                                                        style="width:40px;"
                                                                                        src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                        alt="activity-user">{{ orden.cliente }}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">{{ orden.fecha_orden }}</h6>
                                                            </td>
                                                            <td>
                                                                {% if orden.completada %}
                                                                    <a class="no-select label theme-bg text-white f-12">Completada</a>
                                                                {% else %}
                                                                    <a class="no-select label label-danger text-white f-12">Pendiente</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>  
                                                    {% endfor %}                                           
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
       var ventas_total = 0;
       $('h6[id*="producto"]').each(function() {
           ventas_total += parseInt($(this).text());
       });
       
       $('h6[id*="producto"]').each(function() {
           var ventas_producto = parseInt($(this).text());
           var porcentaje_ventas = (ventas_producto / ventas_total) * 100;
           
           $(this).next('.progress').find('.progress-bar').attr('style', 'width: ' + porcentaje_ventas + '%;');
       });
    });
    </script>
{% endblock javascripts %}
